@model IEnumerable<Models.FoodCategory>


@{
    int sum1 = 0;
    int sum2 = 0;
    int sum3 = 0;
}

<table class="table" id="main">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            total orders
        </th>
        <th>
            total amount
        </th>
        <th>
            total cash
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Foods.SelectMany(f => f.MiniOrders.Where(mo=>mo.quantity!=0).Select(mo=>mo.Receipt)).Distinct().Count()
            </td>
            <td>
                @item.Foods.SelectMany(f => f.MiniOrders).Distinct().Sum(mo => mo.quantity)
            </td>
            <td>
                @item.Foods.SelectMany(f => f.MiniOrders).Distinct().Sum(mo => mo.quantity * mo.Food.Price)
            </td>

        </tr>
        sum1 += item.Foods.SelectMany(f => f.MiniOrders).Distinct().Count();
        sum2 += item.Foods.SelectMany(f => f.MiniOrders).Distinct().Sum(mo => mo.quantity);
        sum3 += item.Foods.SelectMany(f => f.MiniOrders).Distinct().Sum(mo => mo.quantity * mo.Food.Price);
    }


    <tr>
        <td>
            <h4>total</h4>
        </td>
        <td>
            <h4>@sum1</h4>
        </td>
        <td>
            <h4>@sum2</h4>
        </td>
        <td>
            <h4>@sum3</h4>
        </td>
    </tr>

</table>
<a href="@Url.Action("GetPdfCategories")" class="btn btn-warning">Convert to PDF</a>

<br />
<a href="@Url.Action("Index")">Main Menu</a>